//
// Account customer
// --------------------------------------------------------------------------

.account-customer {
    @media (min-width: $screen-md-min) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}


// Block
// --------------------------------------------------------------------------

.account-customer__block {
    margin: 0 0 24px;
    padding: 16px;
    border: 1px solid $color-gray-light;
    border-radius: 5px;

    @media (min-width: $screen-md-min) {
        display: flex;
        flex-direction: column;
        padding: 24px;
        width: calc(50% - 16px);

        &:nth-child(2n+1) {
            margin-right: 32px;
        }
    }
}


// Title
// --------------------------------------------------------------------------

.account-customer__title {
    display: block;
    margin: 0 0 24px;
    font-size: $font-size-large;
    font-weight: bold;
    letter-spacing: .5px;

    @media (min-width: $screen-md-min) {
        font-size: $font-size-large + .2rem;
        letter-spacing: .8px;
    }
}


// Message
// --------------------------------------------------------------------------

.account-customer__message {
    display: block;
    flex: 1 1 auto;
    margin: 0 0 24px;
}


// Form
// --------------------------------------------------------------------------

.account-customer__form {
    @media (min-width: $screen-md-min) {
        .form-group {
            max-width: 380px;
        }
    }
}


// Actions
// --------------------------------------------------------------------------

.account-customer__actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -24px 0 0;

    @media (min-width: $screen-md-min) {
        margin: -32px 0 0;
    }
}


// Back
// --------------------------------------------------------------------------

.account-customer__back {
    display: flex;
    width: 100%;
    margin: 16px 0 0;

    & > button,
    & > a {
        position: relative;
        display: inline-block;
        padding: 0 0 0 58px;
        font-size: $font-size-large;
        font-weight: 600;
        text-decoration: none;
        color: $color-gray;
        transition: color .1s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 40px;
            background-color: $color-gray-lighter;
            @include border-right-radius(50%);
        }

        span {
            line-height: 40px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 15px;
                width: 16px;
                height: 2px;
                background-color: $color-gray-darker;
                border-radius: 2px;
                transform: translate(0,-50%);
                z-index: 1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 14px;
                width: 11px;
                height: 11px;
                background-color: transparent;
                border: 2px solid $color-gray-darker;
                border-width: 0 2px 2px 0;
                transform: translate(0,-50%) rotate(135deg);
                z-index: 1;
            }
        }

        @include hover() {
            color: $color-gray-dark;
        }
    }

    @media (min-width: $screen-sm-min) {
        order: -1;
    }

    @media (min-width: $screen-md-min) {
        flex: 1 1 auto;
    }
}


// Login
// --------------------------------------------------------------------------

.account-customer__login {
    margin: 0 0 16px;
    padding: 16px;
    border: 1px solid $color-gray-light;
    border-radius: 5px;

    @media (min-width: $screen-md-min) {
        padding: 24px;
    }
}


// Logout
// --------------------------------------------------------------------------

.customer-account__logout {
    padding: 32px 0 0;
    text-align: center;
}

.customer-account__logout-icon {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: top;
    margin: 0 0 32px;
    color: $color-gray;
    background-color: $color-gray-light;
    border-radius: 50%;

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        transform: translate(-50%,-50%);
    }
}

.customer-account__logout-text {
    font-size: $font-size-large;
    letter-spacing: .5px;
}

.customer-account__logout-action {
    margin: 24px 0 0;
}


// Social login
// --------------------------------------------------------------------------

.account-customer__social {
    .account-social-login {
        margin: 0 0 24px;
    }

    .actions-toolbar.social-btn {
        vertical-align: top;
        width: 100% !important;
        max-width: 285px;
        margin: 10px 0 0;
    }

    @media (min-width: $screen-md-min) {
        .block-content {
            text-align: left !important;
        }
    }
}

.account-customer__social-create {
    width: 50%; margin-left: auto; margin-right: auto; text-align: center;
        .block-content{
            text-align: center !important;
        }
    .account-social-login {
        margin-bottom: 40px;
    }
}

.account-customer__social .account-customer__social-create{
    margin-left: 20%;
}
