//
// Account informations
// --------------------------------------------------------------------------

.account-informations {
    @include container($max-size: $screen-lg-min);
}


// Title
// --------------------------------------------------------------------------

.account-informations__title {
    display: block;
    margin: 16px 0;
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .8px;

    @media (min-width: $screen-md-min) {
        margin: 32px 0;
    }
}


// Form
// --------------------------------------------------------------------------

.account-informations__form {
    max-width: 700px;
    margin: 0 0 32px;
    padding: 32px;
    border: 1px solid $color-gray-light;
    border-radius: 5px;

    .form-group {
        max-width: 450px;
    }

    .form-submit {
        ul {
            @include list-unstyled();
            margin: 32px 0 0;
        }

        li {
            text-align: center;

            &:not(:last-child) {
                margin: 0 0 16px;
            }
        }

        a {
            &:not(.btn) {
                font-size: $font-size-base + .1rem;
                letter-spacing: .5px;
                color: $color-gray;

                @include hover() {
                    color: $link-hover-color;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {
        margin: 0 0 48px;

        .form-submit {
            ul {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-end;
            }

            li {
                text-align: center;

                &:not(:last-child) {
                    margin: 0 32px 0 0;
                }
            }
        }
    }
}
