//
// Pagination
// --------------------------------------------------------------------------


// Documentation
// --------------------------------------------------------------------------

/*doc
---
title: Pagination
name: pagination
category: Components
---
Pagniation use microdata to help search engine to recognize it as a navigation element.

```html_example
<nav class="pagination" role="navigation">
    <ul class="pagination__list" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
        <li class="pagination__item pagination__item--previous">
            <span itemprop="name">Page précédente</span>
        </li>
        <li class="pagination__item pagination__item--active">
            <span itemprop="name"><em>Page</em> 1</span>
        </li>
        <li class="pagination__item">
            <a href="#" itemprop="url">
                <span itemprop="name"><em>Page</em> 2</span>
            </a>
        </li>
        <li class="pagination__item">
            <a href="#" itemprop="url">
                <span itemprop="name"><em>Page</em> 3</span>
            </a>
        </li>
        <li class="pagination__item">
            <span>…</span>
        </li>
        <li class="pagination__item">
            <a href="#" itemprop="url">
                <span itemprop="name"><em>Page</em> 10</span>
            </a>
        </li>
        <li class="pagination__item pagination__item--next">
            <a href="#" itemprop="url">
                <span itemprop="name">Page suivante</span>
            </a>
        </li>
    </ul>
</nav>
```
*/


// Base
// --------------------------------------------------------------------------

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0 0;
}


// List
// --------------------------------------------------------------------------

.pagination__list {
    @include list-unstyled();
    display: flex;
}


// Item
// --------------------------------------------------------------------------

.pagination__item {
    height: 30px;
    min-width: 30px;
    margin: 0 2px;
    font-size: $font-size-large + .2rem;
    line-height: 30px;
    text-align: center;

    a {
        display: block;
        width: 100%;
        height: 30px;
        font-weight: bold;
        text-decoration: none;
    }

    em {
        @include sr-only();
    }
}

.pagination__item--active {
    font-weight: bold;
    color: #fff;
    background-color: $color-secondary;
    border-radius: 30px;
}


.pagination__item--previous,
.pagination__item--next {
    position: relative;

    a {
        span {
            &::before {
                background-color: $link-color;
            }

            &::after {
                border-color: $link-color;
            }
        }

        @include hover() {
            span {
                &::before {
                    background-color: $link-hover-color;
                }

                &::after {
                    border-color: $link-hover-color;
                }
            }
        }
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include text-hide();

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            height: 2px;
            background-color: $color-gray-light;
            border-radius: 2px;
            transform: translate(-50%,-50%);
            transition: background-color .1s ease-in-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: calc(50% - 3px);
            width: 11px;
            height: 11px;
            background-color: transparent;
            border: 2px solid $color-gray-light;
            border-width: 0 2px 2px 0;
            transform: translate(-50%,-50%) rotate(135deg);
            transition: border-color .1s ease-in-out;
        }
    }
}

.pagination__item--next {
    span {
        &::after {
            left: calc(50% + 3px);
            transform: translate(-50%,-50%) rotate(-45deg);
        }
    }
}
