//
// Page store
// --------------------------------------------------------------------------


// Documentation
// --------------------------------------------------------------------------

/*doc
---
title: Store
name: store
category: Pages
---
This page model can be used to display informations about a store.

The map is optional and it will require a Google Maps Embed API key to work. You can learn more about Google Maps Embed API here : https://developers.google.com/maps/documentation/embed/guide
This tool can be useful to generate the map: https://developers.google.com/maps/documentation/embed/start

```html_example
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
<p>Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
<div class="page-store">
    <div class="page-store__infos">
        <div class="page-store__address">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="{{view url="images/icons.svg#icon-localisation"}}"></use>
            </svg>
            GBH
            <br>
            Acajou
            <br>
            97232 Le Lamentin
        </div>
        <div class="page-store__phone">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="{{view url="images/icons.svg#icon-phone"}}"></use>
            </svg>
            01 02 03 04 05
        </div>
        <div class="page-store__openingtime">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="{{view url="images/icons.svg#icon-store"}}"></use>
            </svg>
            <strong>Horaires d’ouverture</strong>
            <table>
                <tbody>
                    <tr>
                        <th>Lundi</th>
                        <td>9h - 12h</td>
                        <td>14h - 18h</td>
                    </tr>
                    <tr>
                        <th>Mardi</th>
                        <td>9h - 12h</td>
                        <td>14h - 18h</td>
                    </tr>
                    <tr>
                        <th>Mercredi</th>
                        <td>9h - 12h</td>
                        <td>14h - 18h</td>
                    </tr>
                    <tr>
                        <th>Jeudi</th>
                        <td>9h - 12h</td>
                        <td>14h - 18h</td>
                    </tr>
                    <tr>
                        <th>Vendredi</th>
                        <td>9h - 12h</td>
                        <td>14h - 18h</td>
                    </tr>
                    <tr>
                        <th>Samedi</th>
                        <td>9h - 12h</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-store__map">
        <div class="page-store__map-iframe">
            <iframe class="embed" width="600" height="300" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=GBH,+Le+Lamentin&amp;key=YOUR_API_KEY"
                allowfullscreen=""></iframe>
        </div>
    </div>
</div>
```
*/


// Store
// --------------------------------------------------------------------------

.page-store {
    margin: 24px 0 0;

    @media (min-width: $screen-md-min) {
        display: flex;
        width: 100%;
        margin: 32px 0 0;
    }
}


// Infos
// --------------------------------------------------------------------------

.page-store__infos {
    margin: 0 0 24px;

    @media (min-width: $screen-md-min) {
        margin: 0 32px 0 0;
    }
}


// Address
// --------------------------------------------------------------------------

.page-store__address {
    position: relative;
    margin: 0 0 24px;
    padding: 0 0 0 24px;
    line-height: 1.4;

    .icon {
        position: absolute;
        top: 3px;
        left: 0;
        width: 16px;
        height: 16px;
        fill: $color-primary;
    }
}


// Phone
// --------------------------------------------------------------------------

.page-store__phone {
    @extend .page-store__address;
}


// Opening time
// --------------------------------------------------------------------------

.page-store__openingtime {
    @extend .page-store__address;

    strong {
        display: block;
        margin: 0 0 8px;
    }

    table {
        tr {
            &:nth-child(even) {
                background-color: $color-gray-lighter;
            }
        }

        th {
            padding: 2px 24px 2px 0;
        }

        td {
            padding: 2px 8px;
        }
    }
}


// Map
// --------------------------------------------------------------------------

.page-store__map {
    flex: 1 1 auto;
}

.page-store__map-iframe {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 320px;
    }

    & > .embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
