//
// Checkout
// --------------------------------------------------------------------------


// Title
// --------------------------------------------------------------------------

.checkout-title {
    display: block;
    margin: 16px 0;
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .8px;

    @media (min-width: $screen-md-min) {
        margin: 32px 0;
    }
}


// Wrapper
// --------------------------------------------------------------------------

.checkout-wrapper {
    position: relative;
    min-height: 200px;
}


// Container
// --------------------------------------------------------------------------

.checkout-container {
    position: relative;

    @media (min-width: $screen-md-min) {
        display: flex;
        width: 100%;
    }
}


// Main
// --------------------------------------------------------------------------

.checkout-main {
    @media (min-width: $screen-md-min) {
        flex: 1 1 auto;
        padding: 0 16px 0 0;
    }
}


// Aside
// --------------------------------------------------------------------------

.checkout-aside {
    @media (min-width: $screen-md-min) {
        width: 340px;
        margin-top: 84px;
    }
}
