//
// Header
// --------------------------------------------------------------------------

.header {
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    z-index: $zindex-fixed;

    @media (min-width: $screen-sm-min) {
        position: relative;
        background-color: #fff;

        &.affix {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}


// Container
// --------------------------------------------------------------------------

.header-container {
    @include container();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;

    @media (min-width: $screen-sm-min) {
        justify-content: flex-start;
    }
}


// Logo
// --------------------------------------------------------------------------

.header-logo {
    margin: 0;

    a {
        display: block;
        width: 191px;
        height: 34px;
        @include text-hide();
        background: transparent url("../images/logo.svg") left top no-repeat;
        background-size: 100% auto;
    }

    .page-print & {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 24px 0;
    }

    @media (min-width: $screen-sm-min) {
        margin: 0 40px 0 0;

        a {
            width: 308px;
            height: 55px;
        }

        .page-print & {
            margin: 0 0 32px;
        }
    }
}


// Toggle
// --------------------------------------------------------------------------

.header-toggle {
    position: absolute;
    top: 12px;
    left: ($gutter-sm / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: #f5f5f5;
    border: none;
    border-radius: 50%;
    outline: inherit;
    cursor: pointer;
    z-index: $zindex-fixed + 5;

    span {
        position: relative;
        display: block;
        width: 16px;
        height: 2px;
        margin: 9px;
        @include text-hide();
        background-color: $text-color;
        border-radius: 2px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: inherit;
            border-radius: 2px;
            transition: transform .1s ease-in-out;
        }

        &::before {
            bottom: 5px;
        }

        &::after {
            top: 5px;
        }
    }

    .has-panel-open &,
    .has-search-open &,
    .has-cart-open & {
        span {
            background-color: transparent;

            &::before,
            &::after {
                background-color: $text-color;
            }

            &::before {
                bottom: 0;
                transform: rotate(45deg);
            }

            &::after {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }

    .has-cart-open & {
        left: auto;
        right: ($gutter-sm / 2);
        background-color: $color-gray-darker;

        span {
            &::before,
            &::after {
                background-color: #fff;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        display: none;
    }
}

.has-panel {
    .modal-backdrop {
        z-index: $zindex-fixed - 10;
    }
}

.has-panel-open,
.has-search-open,
.has-cart-open {
    overflow: hidden;
}


// Main
// --------------------------------------------------------------------------

.header-main {
    @media (max-width: $screen-xs-max) {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 60px 0 0;
        text-align: center;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform .2s ease-in-out;
        z-index: $zindex-fixed;

        .has-panel-open &,
        .has-search-open &,
        .has-cart-open & {
            position: fixed;
        }

        .has-panel-open & {
            overflow-y: auto;
            overflow-x: hidden;
            transform: translateX(0);
        }
    }

    @media (min-width: $screen-sm-min) {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        width: 100%;
    }
}


// Links
// --------------------------------------------------------------------------

.header-links {
    @include list-unstyled();

    @media (min-width: $screen-sm-min) {
        flex: 1 1 auto;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.header-links__item {
    & > a,
    & > button {
        position: relative;
        display: flex;
        align-items: center;
        width: 34px;
        height: 34px;
        text-decoration: none;
        color: $color-primary;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid $color-primary;
            border-radius: 50%;
            z-index: -1;
        }

        .icon {
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            min-width: 15px;
            min-height: 15px;
            margin: 10px;
        }

        .text {
            @include sr-only();
        }
    }

    & > button {
        padding: 0;
        background: none;
        border: 0;
        outline: none;
        cursor: pointer;
    }

    .counter {
        position: absolute;
        top: 0;
        left: 24px;
        min-width: 15px;
        font-size: $font-size-small;
        font-weight: 600;
        line-height: 15px;
        text-align: center;
        color: #fff;
        background-color: $color-secondary;
        border-radius: 15px;

        &.empty {
            display: none;
        }
    }

    .counter-label {
        @include sr-only();
    }

    @media (max-width: $screen-xs-max) {
        .has-panel-open & {
            text-align: left;
            border-bottom: 2px solid $color-gray-light;

            & > a,
            & > button {
                width: 100%;
                height: 55px;
                padding: 10px 12px;
                border: none;

                &::before {
                    top: 10px;
                    left: 12px;
                    width: 35px;
                    height: 35px;
                }

                &:focus {
                    .text {
                        color: $color-primary;
                    }
                }

                .text {
                    position: static;
                    width: auto;
                    height: auto;
                    margin: 0 0 0 20px;
                    font-size: $font-size-large;
                    font-weight: bold;
                    letter-spacing: .3px;
                    line-height: 35px;
                    text-overflow: ellipsis;
                    clip: auto;
                    clip-path: none;
                    color: $text-color;
                }
            }

            .counter {
                top: 10px;
                left: 36px;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        margin: 0 0 0 20px;
    }

    @media (min-width: $screen-lg-min) {
        margin: 0 0 0 40px;

        & > a,
        & > button {
            width: auto;
            border: none;
            border-radius: 0;

            &::before {
                width: 35px;
            }

            &:focus,
            &:hover {
                .text {
                    color: $color-primary;
                }
            }

            .text {
                position: static;
                width: auto;
                height: auto;
                margin: 0 0 0 8px;
                font-size: $font-size-base;
                font-weight: bold;
                letter-spacing: .3px;
                line-height: 35px;
                text-overflow: ellipsis;
                clip: auto;
                clip-path: none;
                color: $text-color;
                transition: color .1s ease-in-out;
            }
        }
    }
}

.header-links__item--account {
    display: none;

    .has-panel-open & {
        display: inherit;
    }

    @media (min-width: $screen-xs-min + 100px) {
        display: inherit;

        & > a {
            position: absolute;
            top: 12px;
            right: calc(-100% + 12px); // translate width + margin from screen side
        }

        .has-panel-open & {
            & > a {
                position: relative;
                top: auto;
                right: auto;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        & > a {
            position: relative;
            top: auto;
            right: auto;
        }
    }
}

.header-links__item--cart {
    & > button {
        position: absolute;
        top: 12px;
        right: calc(-100% + 12px); // translate width + margin from screen side
    }

    .has-panel-open & {
        & > button {
            position: relative;
            top: auto;
            right: auto;
        }
    }

    @media (min-width: $screen-xs-min + 100px) {
        & > button {
            right: calc(-100% + 12px + 35px + 16px); // translate width + margin from screen side + item width + item margin
        }
    }

    @media (min-width: $screen-sm-min) {
        & > button {
            position: relative;
            top: auto;
            right: auto;
        }
    }
}

.header-links__item--catalog {
    display: none;

    @media (max-width: $screen-xs-max) {
        .has-panel-open & {
            display: inherit;
        }
    }
}

.header-links__item--search {
    display: none;

    .has-panel-open & {
        display: inherit;
    }

    @media (min-width: $screen-xs-min) {
        display: inherit;

        & > button {
            position: absolute;
            top: 12px;
            right: calc(-100% + 12px + 35px + 16px); // translate width + margin from screen side + item width + item margin
        }

        .has-panel-open & {
            & > button {
                position: relative;
                top: auto;
                right: auto;
            }
        }
    }

    @media (min-width: $screen-xs-min + 100px) {
        & > button {
            right: calc(-100% + 12px + ((35px + 16px) * 2)); // translate width + margin from screen side + 2 items width + 2 items margin
        }
    }

    @media (min-width: $screen-sm-min) {
        & > button {
            position: relative;
            top: auto;
            right: auto;
        }
    }
}


// Utils
// --------------------------------------------------------------------------

.header-utils {
    @media (max-width: $screen-xs-max) {
        visibility: hidden;
        margin: 0 0 16px;

        .has-panel-open & {
            visibility: visible;
        }
    }

    @media (min-width: $screen-sm-min) {
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        background-color: $color-gray-light;
        z-index: 10;
    }
}

.header-utils__list {
    @include list-unstyled();

    @media (min-width: $screen-sm-min) {
        @include container();
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}

.header-utils__item {
    font-size: $font-size-base - .1rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 2px solid $color-gray-light;

    a {
        display: block;
        padding: 12px 20px;
        text-decoration: none;

        @include hover() {
            color: $link-color;
        }
    }

    @media (min-width: $screen-sm-min) {
        margin: 0 0 0 30px;
        font-size: $font-size-small - .1rem;
        font-weight: 600;
        border: 0;

        a {
            padding: 0;
            line-height: 30px;

            &:focus,
            &:hover {
                color: $text-color;
                text-decoration: underline;
            }
        }
    }
}


// Newsletter
// --------------------------------------------------------------------------

.header-newsletter {
    display: none;

    @media (max-width: $screen-xs-max) {
        display: block;
        margin: 0 0 16px;
        padding: 0 20px 16px;
        text-align: left;
        border-bottom: 2px solid $color-gray-light;
    }
}



// Customer services
// --------------------------------------------------------------------------

.header-customer-service {
    position: relative;
    padding: 8px 16px 8px 54px;
    font-size: $font-size-large;
    letter-spacing: .5px;
    line-height: 1.2;
    text-align: center;
    background-color: #fbfbfb;
    border-radius: 12px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 16px;
        width: 30px;
        height: 30px;
        background-color: $color-primary;
        border-radius: 50%;
        transform: translate(0,-50%);
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 22px;
        width: 18px;
        height: 18px;
        fill: #fff;
        transform: translate(0,-50%);
    }

    p {
        margin: 0;
    }

    a {
        display: block;
        font-size: $font-size-large + .2rem;
        font-weight: 600;
        letter-spacing: .8px;
        text-decoration: none;
        color: $color-primary;
    }

    small {
        display: block;
        margin: 2px 0 0;
        font-size: $font-size-small - .2rem;
        letter-spacing: .3px;
    }

    @media (max-width: $screen-xs-max) {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 16px;
        visibility: hidden;

        .has-panel-open & {
            visibility: visible;
        }
    }
}


// Search
// --------------------------------------------------------------------------

.header-search {
    @media (max-width: $screen-xs-max) {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 70px 20px 0;
        text-align: center;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform .2s ease-in-out;
        z-index: $zindex-fixed + 10;

        .has-panel-open.has-search-open & {
            transform: translateX(0);
        }

        .has-search-open & {
            transform: translateX(100%);
        }
    }

    @media (min-width: $screen-sm-min) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        overflow: hidden;
        outline: 0;
        z-index: -1;

        &.show {
            display: block;
        }
    }
}

.header-search__panel {
    @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        padding: (124px + 30px) 0 30px;
        background-color: #fff;
        box-shadow: inset 0 30px 0 $color-gray-light;
        transform: translateY(-100%);
        transition: transform .2s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            top: 124px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $color-gray-light;
            z-index: 1;
        }

        .has-search-open & {
            transform: translateY(0);
        }

        .affix & {
            padding-top: (94px + 30px);
            box-shadow: none;

            &::before {
                top: 94px;
            }
        }
    }
}

.header-search__container {
    @include container($screen-lg-min);
}

.header-search__form {
    margin: 0 0 30px;

    label {
        margin: 0 0 16px;
        color: $text-color;
    }

    .form-control {
        &::placeholder {
            color: rgba($text-color, .2);
        }
    }

    .btn {
        width: 100%;
    }

    @media (min-width: $screen-sm-min) {
        display: flex;
        align-items: flex-end;
        width: 100%;
        max-width: $screen-sm-min;
        margin-left: auto;
        margin-right: auto;

        .form-group {
            flex: 1 1 auto;
            margin: 0 10px 0 0;
        }

        .btn {
            width: auto;
        }
    }
}

.header-search__blocks {
    @media (min-width: $screen-md-min) {
        display: flex;
        width: 100%;
    }
}

.header-search__block {
    flex: 1 1 auto;
}

.header-search__block--products {
    @media (max-width: $screen-sm-max) {
        display: none;
    }
}

.header-search__title {
    display: block;
    margin: 0 0 16px;
    text-align: center;
    font-size: $font-size-base + .1rem;
    letter-spacing: .5px;

    @media (min-width: $screen-sm-min) {
        font-size: $font-size-large;
        font-weight: 600;
        text-align: left;
    }
}

.header-search__products {
    .catalog-previews__list {
        flex-wrap: nowrap;
    }

    .catalog-previews__item {
        margin-bottom: 0;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        .catalog-previews__item {
            &:nth-child(n+4) {
                display: none;
            }
        }
    }
}

.header-search__links {
    @include list-unstyled();

    li {
        margin: 0 0 8px;

        a {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            padding: 10px 24px;
            font-size: $btn-font-size;
            font-weight: $btn-font-weight;
            letter-spacing: $btn-letter-spacing;
            line-height: $btn-line-height + .1;
            text-decoration: none;
            text-align: center;
            color: $color-secondary;
            border: 1px solid $color-secondary;
            border-radius: $btn-border-radius-base * 2;
            transition: color .15s ease-in-out, background-color .15s ease-in-out;

            @include hover() {
                color: #fff;
                background-color: $color-secondary;
            }
        }
    }

    @media (min-width: $screen-md-min) {
        li {
            a {
                font-size: $font-size-large + .1rem;
            }
        }
    }
}


// Cart
// --------------------------------------------------------------------------

.header-cart {
    @media (max-width: $screen-xs-max) {
        position: absolute;
        top: 0;
        right: 0;
        display: block !important;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform .2s ease-in-out;
        z-index: $zindex-fixed + 10;

        .has-panel-open.has-cart-open & {
            transform: translateX(0);
        }

        .has-cart-open & {
            transform: translateX(100%);
        }
    }

    @media (min-width: $screen-sm-min) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        overflow: hidden;
        outline: 0;
        z-index: -1;

        &.show {
            display: block;
        }
    }
}

.header-cart__panel {
    height: 100%;

    @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 0;
        right: 0;
        width: 360px;
        height: 100%;
        background-color: #fff;
        transition: transform .2s ease-in-out;
        transform: translateX(360px);

        .has-cart-open & {
            transform: translateX(0);
        }
    }
}

.header-cart__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @media (min-width: $screen-sm-min) {
        padding: 124px 0 0;
        box-shadow: inset 0 30px 0 $color-gray-light;

        .affix & {
            padding: 94px 0 0;
            box-shadow: none;
        }
    }
}

.header-cart__head {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    font-size: $font-size-large + .2rem;
    background-color: $color-gray-light;

    @media (min-width: $screen-sm-min) {
        height: 50px;
    }
}

.header-cart__close {
        position: absolute;
        top: 50%;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: $color-gray-darker;
        border: none;
        border-radius: 50%;
        outline: inherit;
        transform: translate(0,-50%);
        cursor: pointer;

        span {
            position: relative;
            display: block;
            width: 16px;
            height: 2px;
            margin: 7px;
            @include text-hide();
            background-color: transparent;
            border-radius: 2px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                border-radius: 2px;
            }

            &::before {
                bottom: 0;
                transform: rotate(45deg);
            }

            &::after {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }

.header-cart__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;

    @media (max-width: $screen-sm-min){
        overflow: scroll;
    }
}

.header-cart__empty {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $font-size-large;
    font-weight: 600;
    letter-spacing: .8px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        justify-content: flex-start;
        padding: 40% 0 0;
    }
}

.header-cart__preview {
    @include list-unstyled();
    flex: 1 1 auto;
    margin: 0 0 32px;
    padding: 0 16px;

    @media (min-width: $screen-sm-min) {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.header-cart__preview__product {
    display: flex;
    width: 100%;
    padding: 16px 0;
    border-bottom: 2px solid $color-gray-lighter;

    &:last-child {
        border-color: $color-gray-light;
    }
}

.header-cart__preview__product-image {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;
}

.header-cart__preview__product-details {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0 50px 0 16px;
}

.header-cart__preview__product-name {
    display: block;
    flex: 1 1 auto;
    margin: 0 0 8px;
    font-weight: normal;
    letter-spacing: .2px;
    line-height: 1.2;

    a {
        text-decoration: none;
    }
}

.header-cart__preview__product-price {
    display: block;
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .8px;
    line-height: 1;

    .quantity {
        font-size: $font-size-base + .1rem;
        font-weight: normal;
    }
}

.header-cart__preview__product-remove {
    position: absolute;
    top: 0;
    right: -4px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 100%;

    button,
    a {
        display: inline-block;
        padding: 4px;
        background-color: transparent;
        border: 0;
        outline: none;
        transition: color .1s ease-in-out;
        cursor: pointer;

        @include hover() {
            color: $link-hover-color;
        }
    }

    .text {
        @include sr-only();
    }

    .icon {
        width: 22px;
        height: 22px;
    }
}

.header-cart__delivery {
    margin: 0 0 16px;
    padding: 0 16px;

    .checkout-cart__delivery-title {
        margin: 0 0 8px;
    }

    .checkout-cart__delivery-localised {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        width: 100%;
        margin: 16px 0 4px;
    }

    .checkout-cart__delivery-city {
        flex: 1 1 auto;
        margin: 0;
        padding: 0 16px 0 0;
    }

    @media (min-width: $screen-md-min) {
        .checkout-cart__delivery-city {
            margin: 0;
        }
    }
}

.header-cart__delivery-price {
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .8px;
    line-height: 1;
    text-align: right;
}

.header-cart__total {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    font-size: $font-size-large + .4rem;
    font-weight: bold;
    letter-spacing: .8px;
    line-height: 1;
    text-transform: uppercase;
}

.header-cart__total-label,
.header-cart__total-value {
    padding: 14px 0 0;
    border-top: 2px solid $color-gray-light;
}

.header-cart__total-label {
    flex: 1 1 auto;
    padding-right: 16px;
}

.header-cart__total-value {
    text-align: right;
}

.header-cart__actions {
    margin: 24px 0 8px;
    padding: 0 16px;
    text-align: center;

    .btn {
        width: 100%;
        margin: 0 0 8px;
    }

    .btn--ghost {
        color: $color-secondary;
        background-color: transparent;
        border: 1px solid $color-secondary;

        @include hover() {
            color: #fff;
            background-color: $color-secondary;
            outline: none;
        }
    }

    @media (min-width: $screen-lg-min) {
        .btn {
            height: 48px;
            padding: ($btn-padding-vertical + 3px) 24px;
            font-size: $font-size-large + .1rem;
        }
    }
}


// Networks
// --------------------------------------------------------------------------

.header-networks {
    display: none;

    @media (max-width: $screen-xs-max) {
        display: block;
        width: 100%;
        visibility: hidden;
        padding: 10px 20px;
        border-top: 2px solid $color-gray-light;

        .has-panel-open & {
            visibility: visible;
        }
    }
}

.header-networks__list {
    @include list-unstyled();
    display: flex;
    flex-wrap: wrap;
}

.header-networks__item {
    &:not(:first-child) {
        margin: 0 0 0 15px;
    }

    a {
        position: relative;
        display: block;
        width: 34px;
        height: 34px;
        color: #fff;
        border-radius: 50%;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        transform: translate(-50%,-50%);
    }

    .text {
        @include sr-only();
    }
}

.header-networks__item--facebook {
    a {
        background-color: $color-facebook;
    }
}
network-header{
    height: 200px; width: 200px;
}
.facebook{
    color: white;
}a.facebook-link{
     width: 100%; height: auto;
 }.facebook a img{
      max-width: 40px; height: 40px;
  }
.linkedin{
    color: white;
}a.linkedin-link{
     color: #007BB6;
     width: 100%; height: auto;
     padding: 5%;
 }
.instagram{
    color: white; color: #517FA4;
}a.instagram-link{
     color: #517FA4;
     width: 100%; height: auto;
     padding: 5%;
 }
.twitter{
    color: white;
}a.twitter-link{
     color: #00ACED;
     width: 100%; height: auto;
     padding: 5%;
 }

.messenger{
    color: white;
}a.messenger-link{
     color: #0084ff;
     width: 100%; height: auto;
     padding: 5%;
 }
