//
// Footer
// --------------------------------------------------------------------------

.footer {
    margin: 30px 0 0;
    padding: 25px 0 40px;
    background-color: $color-gray-light;

    @media (min-width: $screen-sm-min) {
        padding: 40px 0;
    }
}


// Container
// --------------------------------------------------------------------------

.footer-container {
    @include container();
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background: transparent url("../images/logo.svg") 50% 0 no-repeat;
    background-size: 191px 34px;

    @media (min-width: $screen-sm-min) {
        position: relative;
        justify-content: flex-start;
        padding-top: 0;
        padding-left: ($gutter-sm / 2) + 170px + 40px;
        background-position: ($gutter-md / 2) 0;
    }

    @media (min-width: $screen-md-min) {
        padding-left: ($gutter-sm / 2) + 308px + 70px;
        background-size: 308px 55px;
    }
}


// Links
// --------------------------------------------------------------------------

.footer-links {
    display: none;

    @media (min-width: $screen-sm-min) {
        display: block;
        flex: 1 1 auto;
    }
}

.footer-links__list {
    @include list-unstyled();
    display: block;
    height: 170px;
    columns: 2;
    column-gap: $gutter-md;
    column-fill: auto;

    .item {
        font-size: $font-size-base + .1rem;
        letter-spacing: .5px;

        &:not(:nth-child(5n)) {
            margin: 0 0 15px;
        }

        a {
            text-decoration: none;

            @include hover() {
                text-decoration: underline;
                color: $text-color;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        columns: 3;
    }
}


// Newsletter
// --------------------------------------------------------------------------

.footer-newsletter {
    @media (max-width: $screen-xs-max) {
        display: none;
    }

    @media (min-width: $screen-sm-min) {
        width: 200px;
        margin: 0 0 0 $gutter-md;
    }

    @media (min-width: $screen-md-min) {
        width: 250px;
    }
}


// Copyright
// --------------------------------------------------------------------------

.footer-copyright {
    font-weight: 300;
    letter-spacing: .5px;

    @media (min-width: $screen-sm-min) {
        position: absolute;
        bottom: 0;
        left: $gutter-md / 2;
        font-size: $font-size-small - .2rem;
    }
}

//Cookies

.cookies-warning{
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    background: #b7b7b7;
    color: #323232; 
    z-index: 99999;

    .cookies-warning_content{
        width:100%;position:absolute;padding-left:5px;font-family:verdana;font-size:12px;top:30%;

        .cookies-warning_button{
            padding:4px;background:#e2e1e1;text-decoration:none;color:#fff;
        }
        .cookies-warning_more{
            padding-left:5px;text-decoration:none;color: #fff;
        }
    }

}

// Networks
// --------------------------------------------------------------------------

.footer-networks {
    letter-spacing: .5px;
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 20%;
    font-size: $font-size-large + .4rem;

    @media (max-width: 999px) {
        display: none;
    }
    .network{
        width: 2em; height: 2em;
    }
    .facebook{
        height: auto; width: 5%; left: 15px; top: -112px;
        color: white; position: absolute;
        }a.facebook-link{
            width: 100%; height: auto;
        }.facebook a img{
                      max-width: 42.45px; height: 42.45px;
                      }
    .linkedin{
        height: auto; width: 5%; left: 70px; top: -85px;
        color: white; position: absolute;
        }a.linkedin-link{
                 color: #007BB6;
             width: 100%; height: auto;
             padding: 5%;
         }
    .instagram{
        height: auto; width: 5%; left: 125px; top: -85px;
        color: white; position: absolute;
        }a.instagram-link{
            color: #517FA4;
            width: 100%; height: auto;
            padding: 5%;
        }
    .twitter{
        height: auto; width: 5%; left: 180px; top: -85px;
        color: white; position: absolute;
        }a.twitter-link{
                 color: #00ACED;
            width: 100%; height: auto;
            padding: 5%;
            }
    .youtube{
        height: auto; width: 20%; left: 255px; top: -85px;
        color: white; position: absolute;
    }a.youtube-link{
         color: #BB0000;
         width: 100%; height: auto;
         padding: 5%;
     }

    .messenger{
        height: auto; width: 5%; left: 230px; top: -85px;
        color: white; position: absolute;
    }a.messenger-link{
         color: #0084ff;
         width: 100%; height: auto;
         padding: 5%;
     }
}
