//
// Account invoice
// --------------------------------------------------------------------------


// Reference
// --------------------------------------------------------------------------

.account-invoice__ref {
    display: block;
    margin: 0 0 16px;
    font-size: $font-size-large;
    font-weight: bold;
    letter-spacing: .5px;

    @media (min-width: $screen-sm-min) {
        font-size: $font-size-large + .2rem;
    }
}


// Infos
// --------------------------------------------------------------------------

.account-invoice__infos {
    margin: 0 0 16px;

    @media (min-width: $screen-sm-min) {
        margin: 0 0 24px;
    }
}


// Blocks
// --------------------------------------------------------------------------

.account-invoice__blocks {
    @media (min-width: $screen-sm-min) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

.account-invoice__block {
    margin: 0 0 16px;
    border: 1px solid #d2d2d2;

    @media (min-width: $screen-sm-min) {
        width: calc(50% - 8px);
    }

    @media (min-width: $screen-md-min) {
        width: calc(50% - 16px);
    }
}


// Heading
// --------------------------------------------------------------------------

.account-invoice__heading {
    display: block;
    padding: 8px;
    font-size: $font-size-base + .1rem;
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
    background-color: $color-primary;
    border-bottom: 1px solid #d2d2d2;
}


// Content
// --------------------------------------------------------------------------

.account-invoice__content {
    padding: 8px;
    letter-spacing: .2px;

    @media (min-width: $screen-sm-min) {
        font-size: $font-size-base + .1rem;
    }
}


// Table
// --------------------------------------------------------------------------

.account-invoice__table {
    border: 1px solid #d2d2d2;

    tfoot {
        tr {
            &:last-of-type {
                font-size: 1.1em;
            }
        }

        th,
        td {
            text-align: right;
        }
    }

    .qty {
        text-align: center;
    }

    .subtotal {
        text-align: right;
    }

    @media (min-width: $screen-sm-min) {
        font-size: $font-size-base + .1rem;
    }
}
