//
// Account orders
// --------------------------------------------------------------------------

.account-orders {
    @include container();

    @media (min-width: $screen-md-min) {
        display: table;
        width: 100%;
    }
}


// Head
// --------------------------------------------------------------------------

.account-orders__head {
    display: none;

    @media (min-width: $screen-md-min) {
        display: table-header-group;
    }
}

.account-orders__head-list {
    @include list-unstyled();
    display: table-row;
}

.account-orders__head-item {
    display: table-cell;
    vertical-align: top;
    padding: 16px;
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .8px;
    border-bottom: 1px solid $color-gray-light;

    @media (min-width: $screen-xl-min) {
        &:first-child {
            padding-left: 120px;
        }

        &:last-child {
            padding-right: 120px;
        }
    }
}


// Body
// --------------------------------------------------------------------------

.account-orders__body {
    @include list-unstyled();

    @media (min-width: $screen-md-min) {
        display: table-row-group;
    }
}

.account-orders__body-item {
    @media (max-width: $screen-sm-max) {
        position: relative;
        padding: 16px 0 24px;
        border-bottom: 1px solid $color-gray-light;
    }

    @media (min-width: $screen-md-min) {
        display: table-row;

        & > div {
            display: table-cell;
            vertical-align: middle;
            padding: 24px 16px;
            border-bottom: 1px solid $color-gray-light;

            &:first-child {
                padding-left: 44px;
            }
        }
    }

    @media (min-width: $screen-xl-min) {
        & > div {
            &:first-child {
                padding-left: 120px;
            }

            &:last-child {
                padding-right: 120px;
            }
        }
    }
}


// State
// --------------------------------------------------------------------------

.account-orders__state {
    position: relative;
    margin: 0 0 16px;
    padding: 0 0 0 44px;
    font-size: $font-size-base + .1rem;
    font-weight: bold;
    letter-spacing: .5px;
    line-height: 1.35;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: currentColor;
        transform: translate(0,-50%);
    }

    @media (min-width: $screen-md-min) {
        &::before {
            height: 60px;
        }
    }
}

.account-orders__state--pending {
    color: $color-primary;
}


.account-orders__state--delivered {
    color: $color-secondary;
}


// Order number
// --------------------------------------------------------------------------

.account-orders__number {
    font-size: $font-size-base + .1rem;
    letter-spacing: .5px;

    @media (max-width: $screen-sm-max) {
        margin: 0 0 8px;
    }
}


// Date
// --------------------------------------------------------------------------

.account-orders__date {
    font-size: $font-size-base + .1rem;
    font-weight: bold;
    letter-spacing: .5px;

    @media (max-width: $screen-sm-max) {
        margin: 0 0 8px;
    }
}


// Address
// --------------------------------------------------------------------------

.account-orders__address {
    font-size: $font-size-base + .1rem;
    letter-spacing: .5px;

    em {
        display: block;
        font-style: normal;
        color: $color-gray;
    }

    strong {
        display: block;
        font-weight: bold;
    }

    @media (max-width: $screen-sm-max) {
        margin: 0 0 16px;
    }
}


// Price
// --------------------------------------------------------------------------

.account-orders__price {
    font-size: $font-size-base + .1rem;
    font-weight: bold;
    letter-spacing: .5px;

    @media (max-width: $screen-sm-max) {
        position: absolute;
        top: 52px;
        right: 0;
    }
}


// Actions
// --------------------------------------------------------------------------

.account-orders__actions {
    ul {
        @include list-unstyled();
    }

    li {
        text-align: center;

        &:not(:last-child) {
            margin: 0 0 16px;
        }
    }

    a {
        &:not(.btn) {
            font-size: $font-size-base + .1rem;
            letter-spacing: .5px;
            color: $color-gray;
        }
    }

    @media (min-width: $screen-md-min) {
        width: 1%;
    }
}
