//
// Brand logo
// --------------------------------------------------------------------------

.brand-logo {
    margin: 32px 0;
    text-align: center;

    img {
        display: inline-block;
        vertical-align: top;
    }
}