//
// Catalog description
// --------------------------------------------------------------------------

.catalog-description {
    margin: 0 0 24px;

    p {
        letter-spacing: .2px;
        line-height: 1.4;
    }
}
