//
// Homepage section
// --------------------------------------------------------------------------

.homepage-section {
    margin: 18px 0 32px;

    @media (min-width: $screen-sm-min) {
        margin: 48px 0;
    }
}


// Title
// --------------------------------------------------------------------------

.homepage-section__title {
    display: block;
    margin: 0 0 16px;
    font-size: $font-size-large + .2rem;
    font-weight: 300;
    letter-spacing: .5px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        margin: 0 0 32px;
        font-size: $font-size-h2;
        letter-spacing: .8px;
    }
}
