//
// Homepage partners
// --------------------------------------------------------------------------

.homepage-partners {
    padding: 0px 44px;
    border: 1px solid $color-gray-light;
    border-width: 1px 0;

    @media (min-width: $screen-md-min) {
        padding: 10px 40px;
    }
}


// Brand
// --------------------------------------------------------------------------

.homepage-partners__brand {
    display: flex;
    justify-content: center;
    padding: 0 10px;

    a {
        display: block;
    }
}
