//
// Identification banner
// --------------------------------------------------------------------------


// Documentation
// --------------------------------------------------------------------------

/*doc
---
title: Identification banner
name: identification-banner
category: Content
---
These banners are used to identify the vehicle or the client depending on the context.

Each action button must have an icon that indicate the context because on small screens only the icon is displayed. There may be several action buttons or just one.
These buttons will be `<a>` links or `<button>` for a js action, depending of the desired behavior.

## Vehicle

```html_example
<div class="identification-banner identification-banner--vehicle">
    <div class="identification-banner__inner container">
        <div class="identification-banner__icon">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getViewFileUrl('images/icons.svg#icon-vehicle'); ?>"></use>
            </svg>
        </div>
        <div class="identification-banner__infos">
            <span class="identification-banner__title">Peugeot 308</span>
            <span class="identification-banner__details">308 II 1.6 BlueHDi S&amp;S 120 cv</span>
        </div>
        <div class="identification-banner__actions">
            <a class="btn btn--secondary" href="#">
                <span class="text">Changer de véhicule</span>
                <svg class="icon icon--edit" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getViewFileUrl('images/icons.svg#icon-edit'); ?>"></use>
                </svg>
            </a>
            <a class="btn btn--primary" href="#">
                <span class="text">Mes véhicules</span>
                <svg class="icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getViewFileUrl('images/icons.svg#icon-vehicle'); ?>"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
```

In the case the vehicule isn't identified, the banner invite the client to do so:

```html_example
<div class="identification-banner identification-banner--alert">
    <div class="identification-banner__inner container">
        <div class="identification-banner__icon">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getViewFileUrl('images/icons.svg#icon-alert'); ?>"></use>
            </svg>
        </div>
        <div class="identification-banner__infos">
            <span class="identification-banner__message">Affine ta recherche en identifiant ton véhicule :</span>
        </div>
        <div class="identification-banner__actions">
            <button class="btn btn--primary" type="button">
                <span class="text">J’identifie mon véhicule</span>
                <svg class="icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getViewFileUrl('images/icons.svg#icon-vehicle'); ?>"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
```

## Client

```html_example
<div class="identification-banner identification-banner--account">
    <div class="identification-banner__inner container">
        <div class="identification-banner__icon">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getViewFileUrl('images/icons.svg#icon-account'); ?>"></use>
            </svg>
        </div>
        <div class="identification-banner__infos">
            <span class="identification-banner__title">Jacques Durand</span>
        </div>
        <div class="identification-banner__actions">
            <a class="btn btn--secondary" href="#">
                <span class="text">Me déconnecter</span>
                <svg class="icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getViewFileUrl('images/icons.svg#icon-logout'); ?>"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
```
*/


// Base
// --------------------------------------------------------------------------

.identification-banner {
    margin: 0 0 8px;
    padding: 10px 0;
    background-color: #f5f5f5;

    @media (min-width: $screen-sm-min) {
        margin: 0 0 30px;
    }
}

.identification-banner--account {
    margin: 0;
}


// Inner
// --------------------------------------------------------------------------

.identification-banner__inner {
    display: flex;
    align-items: center;
}


// Icon
// --------------------------------------------------------------------------

.identification-banner__icon {
    padding: 0 16px 0 0;

    .icon {
        width: 28px;
        height: 28px;
    }

    .identification-banner--vehicle & {
        display: none;
    }

    .identification-banner--alert & {
        .icon {
            fill: $color-quinary;
        }
    }

    @media (min-width: $screen-sm-min) {
        .identification-banner--vehicle & {
            display: block;
        }
    }
}


// Infos
// --------------------------------------------------------------------------

.identification-banner__infos {
    flex: 1 1 auto;
}


// Title
// --------------------------------------------------------------------------

.identification-banner__title {
    display: block;
    font-size: $font-size-large;
    font-weight: bold;
    letter-spacing: .7px;
    line-height: 1.3;

    @media (min-width: $screen-sm-min) {
        font-size: $font-size-large + .2rem;
        letter-spacing: .8px;
    }
}


// Message
// --------------------------------------------------------------------------

.identification-banner__message {
    display: block;
    font-size: $font-size-base;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 1.2;

    @media (min-width: $screen-sm-min) {
        font-size: $font-size-large;
        letter-spacing: .7px;
    }
}


// Details
// --------------------------------------------------------------------------

.identification-banner__details {
    display: block;
    font-size: $font-size-base;
    letter-spacing: .5px;
    line-height: 1.3;
}


// Actions
// --------------------------------------------------------------------------

.identification-banner__actions {
    display: flex;

    .btn {
        margin: 0 0 0 8px;
    }

    @media (max-width: $screen-xs-max) {
        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 5px;
            border-radius: 35px;
        }

        .icon {
            width: 25px;
            height: 25px;
            margin: 0;
        }

        .icon--edit {
            width: 20px;
            height: 20px;
        }

        .text {
            @include sr-only();
        }
    }

    @media (min-width: $screen-sm-min) {
        .icon {
            display: none;
        }
    }
}
