//
// Order summary
// --------------------------------------------------------------------------

.order-summary {
    margin: 0 (-$gutter-sm / 2);

    @media (min-width: $screen-md-min) {
        margin: 0;
        border: 1px solid $color-gray-light;
    }
}


// Button
// --------------------------------------------------------------------------

.order-summary__btn {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: $font-size-base + .1rem;
    text-decoration: underline;
    text-align: center;
    background-color: #fbfbfb;
    border: 0;

    span {
        position: relative;
        padding: 0 22px 0 0;

        &::after {
            content: "";
            position: absolute;
            top: 4px;
            right: 0;
            width: 9px;
            height: 9px;
            background-color: transparent;
            border: 2px solid currentColor;
            border-width: 0 2px 2px 0;
            border-radius: 2px;
            transform: rotate(45deg);
            transition: transform .15s ease-in-out;
            pointer-events: none;
            z-index: 1;
        }
    }

    &[aria-expanded="true"] {
        span {
            &::after {
                top: 8px;
                transform: rotate(-135deg);
            }
        }
    }

    @include hover() {
        color: $link-hover-color;
        outline: 0;
    }

    @media (min-width: $screen-md-min) {
        display: none;
    }
}


// Inner
// --------------------------------------------------------------------------

.order-summary__inner {
    @media (min-width: $screen-md-min) {
        &.collapse {
            display: block !important;
        }
    }
}


// Head
// --------------------------------------------------------------------------

.order-summary__head {
    padding: 12px ($gutter-sm / 2);
    background-color: $color-gray-light;
}

.order-summary__title {
    display: block;
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .8px;
    text-align: center;
}

.order-summary__subtitle {
    display: block;
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .8px;

    .icon {
        width: 23px;
        height: 23px;
        vertical-align: -.35em;
        margin: 0 8px 0 0;
    }

    @media (min-width: $screen-md-min) {
        .icon {
            width: 25px;
            height: 25px;
            vertical-align: -.4em;
            margin: 0 16px 0 0;
        }
    }
}

.order-summary__subtitle--small {
    .icon {
        width: 18px;
        height: 18px;
        vertical-align: -.15em;
        margin: 0 (8px + 3px) 0 2px;
    }

    @media (min-width: $screen-md-min) {
        .icon {
            margin: 0 (16px + 5px) 0 2px;
        }
    }
}


// Products
// --------------------------------------------------------------------------

.order-summary__products {
    padding: 16px ($gutter-sm / 2);
}


// List
// --------------------------------------------------------------------------

.order-summary__list {
    @include list-unstyled();
}


// Item
// --------------------------------------------------------------------------

.order-summary__item {
    display: flex;
    width: 100%;

    &:not(:last-child) {
        margin: 0 0 16px;
    }
}

.order-summary__item-image {
    width: 85px;
}

.order-summary__item-details {
    position: relative;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    padding: 0 0 0 10px;
}

.order-summary__item-name {
    margin: 0 0 16px;
    font-size: $font-size-large;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 1.3;

    @media (min-width: $screen-md-min) {
        max-width: 70%;
        font-size: $font-size-base;
        font-weight: normal;
    }
}

.order-summary__item-quantity {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-end;
    font-size: $font-size-large;
    font-weight: 600;
    letter-spacing: .8px;
}

.order-summary__item-price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .5px;
    text-align: right;
    margin-right: $gutter-sm / 2;
}


// Delivery
// --------------------------------------------------------------------------

.order-summary__delivery {
    @extend .order-summary__products;
}

.order-summary__delivery-item {
    display: flex;
    width: 100%;
    margin: 0 0 16px;
}

.order-summary__delivery-item-label {
    flex: 1 1 auto;
    font-size: $font-size-large;
    font-weight: bold;
}

.order-summary__delivery-item-price {
    font-size: $font-size-large + .2rem;
    font-weight: bold;
    letter-spacing: .5px;
    text-align: right;
    margin-right: $gutter-sm / 2;
}

.order-summary__delivery-address {
    margin: 0 0 8px;
}

.order-summary__delivery-address-name {
    display: block;
    margin: 0 0 8px;
    font-size: $font-size-large + .2rem;
    font-weight: bold;
}

.order-summary__delivery-address-infos {
    font-size: $font-size-base + .1rem;
    line-height: 1.4;
    color: $color-gray;
}


// Payment
// --------------------------------------------------------------------------

.order-summary__payment {
    @extend .order-summary__products;

    @media (min-width: $screen-md-min) {
        padding: 16px 0;
    }
}

.order-summary__payment-method {
    display: block;
    font-size: $font-size-large;
    font-weight: bold;

    &:not(:last-child) {
        margin: 0 0 16px;
    }

    @media (min-width: $screen-md-min) {
        padding: 0 ($gutter-sm / 2);
    }
}


// Message
// --------------------------------------------------------------------------

.order-summary__message {
    font-size: $font-size-base + .1rem;
    color: $color-primary;

    .icon {
        width: 16px;
        height: 16px;
        margin: 0 8px 0 0;
    }

    .order-summary__payment & {
        padding: 0 ($gutter-sm / 2);
    }
}

.order-summary__message--error {
    color: $color-quinary;
}


// Total
// --------------------------------------------------------------------------

.order-summary__total {
    display: flex;
    flex: 1 1 auto;
    margin: 0 ($gutter-sm / 2);
    padding: 16px 0 0;
    font-size: $font-size-large + 1.2rem;
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1;
    border-top: 1px solid $color-gray-light;

    @media (min-width: $screen-md-min) {
        padding: 24px ($gutter-sm / 2);
        font-size: $font-size-large + .4rem;
        font-weight: bold;
    }
}

.order-summary__total-label {
    flex: 1 1 auto;
}

.order-summary__total-price {
    text-align: right;
}

.order-summary__total-discount {
    font-size: $font-size-large;
    font-weight: 700;
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    height: 20px;
    @media (max-width: $screen-sm-max) {
        height: 35px;
        margin-bottom: ($gutter-sm / 2) + 2;
    }
}
