//
// Search engine
// --------------------------------------------------------------------------


// Variables
// --------------------------------------------------------------------------

$searchengine-background-color:      #fff;
$searchengine-border-color:          $color-gray;

$searchengine-tab-color:             $text-color;
$searchengine-tab-background:        #f5f5f5;
$searchengine-tab-hover-background:  darken($searchengine-tab-background, 5%);
$searchengine-tab-active-color:      #fff;
$searchengine-tab-active-background: $color-primary;


// Container
// --------------------------------------------------------------------------

.search-engine-container {
    @media (min-width: $screen-lg-min) {
        display: flex;
        width: 100%;
        max-width: $screen-lg-min;
        min-height:214px;
        margin: 0 auto;
    }
}


// Base
// --------------------------------------------------------------------------

.search-engine {
    &:not(:last-child) {
        margin: 0 0 2px;
    }

    @media (min-width: $screen-md-min) {
        overflow: hidden;
        background-color: $searchengine-background-color;
        border: 1px solid $searchengine-border-color;
        border-radius: 12px;

        &:not(:last-child) {
            margin: 0 0 16px;
        }
    }

    @media (min-width: $screen-lg-min) {
        &:first-child {
            flex: 1 1 auto;
        }

        &:not(.search-engine--multiple) {
            max-width: 375px;
        }

        &:not(:last-child) {
            margin: 0 16px 0 0;
        }
    }
}


// Tabs
// --------------------------------------------------------------------------

.search-engine__tabs {
    display: none;

    @media (min-width: $screen-md-min) {
        @include list-unstyled();
        display: flex;
        width: 100%;
        background-color: $searchengine-tab-background;
        border-bottom: 1px solid $searchengine-border-color;
    }
}

.search-engine__tab {
    flex: 1 1 auto;

    a {
        display: block;
        padding: 15px;
        overflow: hidden;
        font-size: $font-size-large;
        font-weight: 600;
        line-height: 26px;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        text-align: center;
        color: $searchengine-tab-color;
        background-color: $searchengine-tab-background;
        @include border-top-radius(12px);
        transition: color .15s ease-in-out, background-color .15s ease-in-out;

        @include hover() {
            color: $searchengine-tab-color;
            background-color: $searchengine-tab-hover-background;
        }

        .icon {
            width: 26px;
            height: 26px;
            margin: 0 8px 0 0;
            vertical-align: -.5em;
            fill: $color-primary;
        }
    }

    &:first-child {
        a {
            border-top-left-radius: 0;
        }
    }

    &:last-child {
        a {
            border-top-right-radius: 0;
        }
    }

    &.active {
        a {
            color: $searchengine-tab-active-color;
            background-color: $searchengine-tab-active-background;

            .icon {
                fill: currentColor;
            }
        }
    }
}


// Form
// --------------------------------------------------------------------------

.search-engine__form {
    border: 1px solid $searchengine-border-color;
    border-radius: 3px;

    &:not(:last-child) {
        margin: 0 0 2px;
    }

    @media (min-width: $screen-md-min) {
        border: 0;
        border-radius: 0;

        &:not(:last-child) {
            margin: 0;
        }

        &.active {
            .search-engine__form-content, 
            .search-engine__help {
                display: block;
            }
        }

        .collapse,
        .collapsing {
            display: block !important;
            height: auto !important;
        }
    }
}

.search-engine__form-head {
    a {
        position: relative;
        display: block;
        padding: 10px 16px;
        overflow: hidden;
        font-size: $font-size-base + .1rem;
        font-weight: 600;
        line-height: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        text-align: center;
        color: $searchengine-tab-color;
        background-color: $searchengine-tab-background;
        border-radius: 3px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out;

        @include hover() {
            color: $searchengine-tab-color;
            background-color: $searchengine-tab-hover-background;
        }

        &[aria-expanded="true"] {
            color: $searchengine-tab-active-color;
            background-color: $searchengine-tab-active-background;

            .icon {
                fill: $searchengine-tab-active-color;
            }

            &::after {
                top: 19px;
                border-color: $searchengine-tab-active-color;
                transform: rotate(-135deg);
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 14px;
            right: 18px;
            width: 12px;
            height: 12px;
            background: transparent;
            border: 3px solid $color-primary;
            border-width: 0 3px 3px 0;
            border-radius: 3px;
            transform: rotate(45deg);
            transition: transform .15s ease;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 16px;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            fill: $color-primary;
            transform: translate(0,-50%);
        }
    }

    @media (min-width: $screen-md-min) {
        a {
            padding: 15px;
            font-size: $font-size-large;
            line-height: 26px;
            color: $searchengine-tab-color;
            background-color: $searchengine-tab-background;
            border-bottom: 1px solid $searchengine-border-color;
            border-radius: 0;
            pointer-events: auto;

            &[aria-expanded="true"] {
                color: $searchengine-tab-color;
                background-color: $searchengine-tab-background;

                .icon {
                    fill: $color-primary;
                }
            }

            &::after {
                content: none;
            }

            .icon {
                position: static;
                top: auto;
                left: auto;
                margin: 0 8px 0 0;
                vertical-align: -.4em;
                fill: $color-primary;
                transform: none;
            }
        }

        .search-engine--multiple & {
            display: none;
        }
    }
}

.search-engine__form-content {
    padding: 16px;

    label,
    legend {
        display: block;
        margin: 0 0 16px;
        text-align: center;
    }

    fieldset {
        label {
            @include sr-only();
        }
    }

    @media (min-width: $screen-md-min) {
        padding: 25px 16px 22px;

        & .search-engine__inputs {
            #searchengine-vehicle-infos & {
                width:60%;
                float:left;
            }
            #searchengine-certificate & {
                width:45%;
                float:left;
            }
        }

        label,
        legend {
            display: inline-block;
            margin: 0 0 30px;
            text-align: left;
        }

        .search-engine--multiple & {
            display: none;
        }
    }
}

.search-engine__help {    

    color:$color-secondary;
    text-align:center;
    margin:20px auto;

    p {
        width:100%;
        margin:10px auto;
    }

    &-immat {
        margin:auto;
        display:flex;
        align-items:center;
        width:220px;
        height:44px;
        border-radius: 8px;
        border: 1px solid $color-secondary;
        letter-spacing: 2px;
        
        &-ex {
            font-weight:bold;
            text-transform:uppercase;
            width:70%;
            height:100%;
            border-left:1px solid $color-secondary;
            border-right:1px solid $color-secondary;
            line-height:40px;
            font-size: $font-size-large + .4;
        }

        &-icon {            
            width:15%;
            text-align:center;
            padding:5px 0px 0px 2px;
            & .icon {
                width:100%;
                height:30px;
            }
        }

        &-martinique {
            display:flex;
            align-items:center;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width:15%;
            text-align:center;
            &-logo {
                width: 85%;
                height: 19px;
                margin: 3px 8% 0px 7%;
                border-top-right-radius: 6px;
                border-bottom: 1px solid $color-secondary;
                & .icon {
                    width:100%;
                    height: 15px;
                    fill: $color-secondary;
                }
            }
            
            & em {
                width: 9px;
                text-align:right;
                margin-top: 4px;
                height: 20px;
                font-size: 8px;
                line-height: 7px;
                font-weight: bold;
                word-wrap: break-word;
                font-style: normal;
            }
            & b {
                font-weight: bold;
                font-size: 19px;
                line-height: 16px;
                height: 20px;
            }
        }
    }

    &-mine {
        text-align:center;
        display:inline-block;
        width:100%;
        margin-top:10px;
        em, img {
            margin:auto;
        }  
        
        @media (min-width: $screen-xs-min) {
            width:53%;
            margin-top:0px;
            padding:0px 5px 0px 0px;
            &:last-child {
                width:44%;
                padding:0px 0px 0px 5px;
            }
            img {
                margin:auto;
            }
        }

    }

    @media (min-width: $screen-md-min) {

        float:right; 

        #searchengine-vehicle-infos & {
            width:40%;
            margin: 8px auto 34px auto;
            p {
                width:300px;
                margin:0px auto 10px auto;
            }
        }

        #searchengine-certificate & {
            width:55%;
            margin: 0px auto 20px auto;
            p {
                width:100%;
                margin:-10px auto 5px auto;
            }
        }
       
    }
}


.search-engine__form-group {
    & > .form-control {
        margin: 0 0 8px;
    }

    .btn, 
    .btn--primary, 
    .form-submit .btn, 
    .form-group .btn, 
    .form-group .btn--primary {
        width: 100%;
    }
    .form-group .btn--primary {
        margin:16px 0px;
    }
    .form-submit .btn {
        margin:0px 0px 16px 0px;
    }

    @media (min-width: $screen-md-min) {
        display: flex;
        align-items: flex-start;
        width: 100%;

        & > .form-control {
            width: 50%; 
            margin: 0;
        }
        
        & > .btn {
            width: auto;
            margin: 0 0 0 8px;
        }

        .form-group {
            display: flex; 
            #searchengine-certificate & {
                width:100%;
            }        
            margin: 0;

            &:not(:last-child) {
                margin: 0 16px 0 0;
                padding-bottom:16px;
            }

            &.is-hidden {
                display: none;
            }

            & > .form-control-select {
                width: 100%;
            }

            & > .btn {
                margin: 0 0 0 8px;
            }
        }

        .form-submit {
            width: auto;
            margin: 0 0 0 -8px;

            .btn {
                margin: 0;
            }
        }
    }
}

.search-engine__form-group--grid {
    @media (min-width: $screen-md-min) {
        .form-group {
            width: 26%;
        }
    }
}

.search-autocomplete{
    margin-top: 45px;
    position: absolute;
    font-weight: 800;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px $color-gray-light;
    border: solid 1px $color-gray;
    max-height: 200px; overflow: auto;

    ul{
        list-style: none;
        margin-left: 20px;
        padding-left: 0;

        li{
            margin-top: 15px;

            &:hover{
                cursor: pointer;
            }

            &:nth-of-type(1n+5){ //to limit search autocomplete
                display: none;
            }
            .amount{ //to hide the number of results on a term
                display: none;
            }
        }
    }
}


// Modal
// --------------------------------------------------------------------------

.modal-search-engine {
    .modal-header {
        margin: 0;
    }

    .headline {
        margin-top: 0;
    }

    .search-engine {
        text-align: left;

        &:not(:last-child) {
            margin: 0;
        }

        .form-group {
            padding: 0;
        }
    }

    @media (min-width: $screen-md-min) {
        .modal-inner-wrap {
            width: 900px;
        }
    }
}
/* to fix toggle on mobile device */
[data-toggle~="collapse"] {
    cursor: pointer;
}
