//
// Vehicle navigation
// --------------------------------------------------------------------------

.vehicle-navigation {
    max-width: $screen-lg-min;
    margin: 0 auto;
}


// Head
// --------------------------------------------------------------------------

.vehicle-navigation__head {
    @media (min-width: $screen-md-min) {
        @include container();
        display: flex;
        width: 100%;
        margin-bottom: 40px;
    }
}


// Vehicle
// --------------------------------------------------------------------------

.vehicle-navigation__vehicle {
    display: none;

    @media (min-width: $screen-md-min) {
        display: block;
        height: 50px;
        margin: 0 22px 0 0;
        padding: 10px 16px;
        font-size: $font-size-base + .1rem;
        font-weight: 600;
        letter-spacing: .5px;
        text-align: center;
        background: transparent;
        border: 1px solid $color-gray-light;
        border-radius: 5px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        cursor: pointer;

        &:focus,
        &:hover {
            background-color: darken(#f5f5f5, 5%);
            outline: none;
        }

        &.active {
            color: #fff;
            background-color: $color-secondary;
            border-color: $color-secondary;
        }

        .icon {
            width: 26px;
            height: 26px;
            margin: 0 10px 0 0;
            vertical-align: -.5em;
        }
    }
}


// Filters
// --------------------------------------------------------------------------

.vehicle-navigation__filters {
    @media (max-width: $screen-sm-max) {
        margin: 0 0 8px;

        .icon {
            display: none;
        }

        .cms-index-index & {
            display: none;
        }
    }

    @media (min-width: $screen-md-min) {
        position: relative;
        flex: 1 1 auto;
        padding: 0 0 0 70px;
        border: 1px solid $color-gray-light;
        border-radius: 5px;

        &.active {
            .icon {
                fill: $color-secondary;
            }
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 20px;
            width: 26px;
            height: 26px;
            transform: translate(0,-50%);
        }
    }
}

.vehicle-navigation__filters-list {
    .owl-prev,
    .owl-next {
        background-color: transparent;
    }

    @media (min-width: $screen-md-min) {
        display: flex;
        width: 100%;

        &.owl-carousel,
        &.owl-loaded {
            display: flex;
        }

        .owl-stage-outer {
            flex: 1 1 auto;
            transform: none;
        }

        .owl-stage {
            display: flex;
            width: 100% !important;
            transform: none !important;
        }

        .owl-item {
            flex: 1 1 auto;
            width: auto !important;

            &.cloned {
                display: none;
            }
        }

        .owl-nav,
        .owl-dots {
            display: none !important;
        }
    }
}

.vehicle-navigation__filters-item {
    button {
        display: block;
        width: 100%;
        padding: 0;
        font-size: $font-size-base + .1rem;
        letter-spacing: .5px;
        text-align: center;
        background: transparent;
        border: 0;
    }

    @media (max-width: $screen-sm-max) {
        button {
            height: 44px;
            padding: 0 50px;
            overflow: hidden;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $color-secondary;
        }
    }

    @media (min-width: $screen-md-min) {
        flex: 1 1 auto;

        &:last-child {
            margin: 0 -1px 0 0;
        }

        button {
            height: 50px;
            margin: -1px 0;
            padding: 10px 16px;
            font-weight: 600;
            border-radius: 5px;
            transition: color .15s ease-in-out, background-color .15s ease-in-out;
            cursor: pointer;

            &:focus,
            &:hover {
                background-color: darken(#f5f5f5, 5%);
                outline: none;
            }

            &.active {
                color: #fff;
                background-color: $color-secondary;
            }
        }
    }
}



// List view
// --------------------------------------------------------------------------

.vehicle-navigation__list {
    @include container();
    position: relative;
    display: none;
    padding: 0;
    border-top: 1px solid #f5f5f5;

    &.active {
        display: block;
    }

    @media (max-width: $screen-sm-max) {
        display: block;

        .cms-index-index & {
            display: none;
        }
    }

    @media (min-width: $screen-md-min) {
        display: block;
        border: 0;

        &.active {
            display: flex;
            flex-wrap: wrap;
            padding: 0 (($gutter-md / 2) - 8px);
        }
    }
}


// Links
// --------------------------------------------------------------------------

.vehicle-navigation__links {
    display: none;

    .active & {
        display: block;
    }

    &.hide {
        display: none;
    }

    &.comingsoon {
        width:100% !important;
    }

    @media (max-width: $screen-sm-max) {
        display: block;
    }

    @media (min-width: $screen-md-min) {
        position: relative;
        width: calc((100% - 16px) * 1/4 - (16px - 16px * 1/4));
        margin: 0 8px 20px;
        background-color: #fff;
        transition: opacity .2s ease;

        &.model-show {
            display: block;
            position: absolute;
            top: -20px;
            right: 16px;
            margin: 0;
            z-index: 10;
        }


        &:not(.expanded) {
            .selected & {
                opacity: .25;

                &:hover {
                    opacity: 1;
                }
            }
        }

    }

    @media (min-width: $screen-lg-min) {
        width: calc((100% - 16px) * 1/5 - (16px - 16px * 1/5));
    }
}


.vehicle-navigation__links-head {
    background-color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;

    a {
        position: relative;
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0 0 0 14px;
        text-decoration: none;

        @include hover() {
            color: $text-color;
        }

        &::after {
            content: "";
            position: absolute;
            top: 21px;
            right: 18px;
            width: 12px;
            height: 12px;
            background: transparent;
            border: 2px solid $text-color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            transition: transform .15s ease;
        }

        &[aria-expanded="true"] {
            &::after {
                top: 31px;
                transform: rotate(-135deg);
            }
        }
    }

    .icon {
        width: 36px;
        height: 36px;
        margin: 0 14px 0 0;
        vertical-align: middle;
        fill: $color-primary;
    }

    .title {
        display: block;
        width: 100%;
        padding: 0 50px 0 16px;
        overflow: hidden;
        font-size: $font-size-large + .1rem;
        font-weight: bold;
        letter-spacing: .8px;
        line-height: 60px;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: #fff;
    }

    @media (min-width: $screen-md-min) {
        border: 0;
        @include border-top-radius(5px);

        a {
            flex-direction: column;
            height: auto;
            padding: 0;
            pointer-events: none;

            &::after {
                content: none;
            }
        }

        .icon {
            width: 77px;
            height: 77px;
            margin: 16px;
        }

        .title {
            padding: 0 16px;
            font-size: $font-size-large + .4rem;
            border: 1px solid #e4e3f2;
            border-width: 0 1px 1px;
            border-bottom-color: #f5f5f5;
        }
    }
}

.vehicle-navigation__links-container {
    @media (min-width: $screen-md-min) {
        &.collapse {
            display: block !important;
            height: auto !important;
        }

        .expanded & {
            //position: absolute; //bug sur le menu, les catégories se chevauchent
            top: 170px;
            left: 0;
            width: 100%;
            background-color: #fff;
            z-index: 10;
        }
    }
}

.vehicle-navigation__links-list {
    @include list-unstyled();

    @media (min-width: $screen-md-min) {
        overflow: hidden;
        border: 1px solid #e4e3f2;
        border-width: 0 1px 1px;
        @include border-bottom-radius(5px);

        /*
        .model-show & {
            padding-bottom: 16px;
        }
        */
    }
}

.vehicle-navigation__links-item {
    position: relative;
    font-size: $font-size-base + .1rem;
    letter-spacing: .5px;

    &:not(:last-child) {
        border-bottom: 1px solid #f5f5f5;
    }

    &.hide {
        display: none;
    }

    &[data-collapse="group"] {
        & > a {
            padding-right: (50px + 8px);
        }
    }

    a {
        display: block;
        padding: 0 16px;
        overflow: hidden;
        line-height: 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        transition: color .1s ease-in-out, background-color .1s ease-in-out;

        @include hover() {
            color: #fff;
            background-color: $color-primary;
        }
    }

    span {
        display: block;
        padding: 16px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
    }

    .first-level{
        display: block;
        padding: 0 16px 0 16px;
        text-align: left;
        overflow: hidden;
        line-height: 36px;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
    }

    @media (min-width: $screen-md-min) {
        &[data-collapse="group"] {
            & > a {
                padding-right: (36px + 8px);
            }
        }

        a {
            line-height: 36px;
        }

        span {
            border: 0;
        }
    }
}


.vehicle-navigation__links-more {
    display: block;
    width: 100%;
    padding: 0 16px;
    overflow: hidden;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: underline;
    text-decoration-skip: ink;
    font-weight: 600;
    text-align: left;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
    color: $color-gray;

    &:hover {
        color: #fff;
        background-color: $color-primary;
    }
}

.vehicle-navigation__links-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 36px;
    @include text-hide;
    outline: 0;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 70%;
        background-color: rgba(0,0,0,.08);
        transform: translate(0,-50%);
    }

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 18px;
        width: 12px;
        height: 12px;
        background: transparent;
        border: 2px solid $text-color;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: transform .15s ease;
    }

    &[aria-expanded="true"] {
        &::after {
            top: 16px;
            transform: rotate(-135deg);
        }
    }

    @media (min-width: $screen-md-min) {
        width: 100%;
        height: 36px;

        &::after {
            top: 12px;
            right: 13px;
            width: 9px;
            height: 9px;
        }

        &[aria-expanded="true"] {
            &::after {
                top: 17px;
            }
        }
    }
}

.vehicle-navigation__links-subnav {
    @include list-unstyled();
}

.vehicle-navigation__links-subnav-item {
    a {
        padding-left: 32px;
        font-size: $font-size-base;
        line-height: 45px;
    }

    @media (min-width: $screen-md-min) {
        a {
            line-height: 32px;
        }
    }
}

.vehicle-navigation__links-close {
    display: none;

    .model-show & {
        position: absolute;
        bottom: -20px;
        left: 50%;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        background-color: $color-gray-darker;
        border: 0;
        border-radius: 50%;
        transform: translate(-50%,0);
        transition: background-color .1s ease-in-out;
        cursor: pointer;
        z-index: 1;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 22px;
            height: 3px;
            background-color: #fff;
            border-radius: 3px;
            transform: translate(-50%,-50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%,-50%) rotate(-45deg);
        }

        @include hover() {
            background-color: $color-primary;
            outline: none;
        }
    }
}

.vehicle-navigation__links-comingsoon {
    width:100%;
    text-align:center;
    padding:20px 0px 100px 0px;
    & .icon {
        width:150px;
        height:150px;
        fill: $color-secondary;
        display:block;
        margin:auto;
    }
    p {        
        font-size: $font-size-large + .1rem;
        font-weight: bold;
        letter-spacing: .8px;
        line-height: 60px;
        color:$color-secondary;
    }
    @media (max-width: $screen-sm-max) {
        display: none;
    }
}


// Model view
// --------------------------------------------------------------------------

.vehicle-navigation__model {
    display: none;
    padding: 0 0 30px;
    text-align: center;
    box-shadow: inset 0 -130px 0 #f5f5f5;

    &.active {
        display: block;
    }

    @media (max-width: $screen-sm-max) {
        &.active {
            display: none;
        }

        .cms-index-index & {
            &.active {
                display: block;
            }
        }
    }

    @media (min-width: $screen-md-min) {
        padding: 0;
        box-shadow: inset 0 -160px 0 #fbfbfb;
    }
}


// Drawing
// --------------------------------------------------------------------------

.vehicle-navigation__drawing {
    @include container();
    position: relative;
    margin-bottom: 35px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 30px;
        left: calc(50% + 90px);
        width: 48px;
        height: 5px;
        background-color: #f5f5f5;
        border-radius: 5px;
        z-index: -1;
    }

    &::after {
        top: 22px;
        left: calc(50% + 115px);
        width: 35px;
    }

    @media (min-width: $screen-md-min) {
        padding: 120px 0 80px;

        &::before,
        &::after {
            top: 55px;
            left: -60px;
            width: 180px;
            height: 40px;
            background-color: rgba($color-secondary, .2);
            box-shadow: 932px 30px 0 0 rgba($color-secondary, .2);
        }

        &::after {
            top: 77px;
            left: 15px;
            width: 180px;
            height: 40px;
            box-shadow: 782px 30px 0 0 rgba($color-secondary, .2);
        }
    }

    @media (min-width: $screen-lg-min) {
        &::before {
            box-shadow: 1140px 30px 0 0 rgba($color-secondary, .2);
        }

        &::after {
            box-shadow: 990px 30px 0 0 rgba($color-secondary, .2);
        }
    }
}


.vehicle-navigation__tour {
    @include list-unstyled();
    position: relative;
    width: 175px;
    height: 70px;
    margin: 0 auto;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent url("../images/vehicle.svg") 50% 50% no-repeat;
        background-size: 100% auto;
        transition: opacity .35s ease-in-out;
    }

    &.selected,
    &.model-selected {
        &::before {
            opacity: .4;
        }
    }

    @media (min-width: $screen-md-min) {
        width: 530px;
        height: 200px;
    }
}

.vehicle-navigation__tour-chip {
    display: none;

    @media (min-width: $screen-md-min) {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: 1;

        button {
            position: relative;
            padding: 0;
            font-size: $font-size-base + .4rem;
            font-weight: bold;
            letter-spacing: .8px;
            white-space: nowrap;
            background: transparent;
            border: 0;
            transition: opacity .15s ease-in-out;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            .selected &,
            .model-selected & {
                opacity: .4;
            }

            &.selected,
            &.active {
                opacity: 1;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 25px;
                height: 25px;
                background-color: $color-primary;
                border-radius: 50%;
                z-index: 1;
            }
        }
    }
}

.vehicle-navigation__tour-chip--braking { 
    top: 175px;
    left: 205px;

    button {
        padding: 30px 0 0;

        &::before {
            top: 0;
            left: 50%;
            transform: translate(-50%,0);
        }
    }
}
.vehicle-navigation__tour-chip--cleaning {
    top: 25px;
    left: 529px;

    button {
        padding: 20px 0 0 28px;

        &::before {
            top: 50%;
            left: 0;
            transform: translate(-50%,0);
        }
    }
}

.vehicle-navigation__tour-chip--steering {
    top: 150px;
    left: -100px;

    button {
        padding: 0 28px 0 0;

        &::before {
            top: 60%;
            left: 100%;
            transform: translate(0,-50%);
        }
    }
}

.vehicle-navigation__tour-chip--ventilation {
    top: 75px;
    left: 445px;

    button {
        padding: 0 0 0 39px;

        &::before {
            top: 50%;
            left: 0;
            transform: translate(0,-50%);
        }
    }
}

.vehicle-navigation__tour-chip--exhaust {
    top: 125px;
    left: 515px;

    button {
        padding: 0 0 0 39px;

        &::before {
            top: 50%;
            left: 0;
            transform: translate(0,-50%);
        }
    }
}

.vehicle-navigation__tour-chip--clutch {
    top: 150px;
    left: 255px;

    button {
        padding: 28px 0 0 20px;

        &::before {
            top: 0;
            left: 50%;
            transform: translate(-50%,0);
        }
    }
}

.vehicle-navigation__tour-chip--spark {
    top: 105px;
    left: -245px;

    button {
        padding: 0 40px 0;

        &::before {
            top: 0;
            bottom: 0;
            left: 100%;
            transform: translate(-50%,0);
        }
    }
}

.vehicle-navigation__tour-chip--motorbelt {
    top: 68px;
    left: -150px;

    button {
        padding: 0 40px 0;

        &::before {
            top: 0;
            bottom: 0;
            left: 100%;
            transform: translate(-50%,0);
        }
    }
}

.vehicle-navigation__tour-chip--engine {
    top: 65px;
    left: -66px;

    button {
        padding: 0 48px 5px 0;

        &::before {
            top: 50%;
            left: auto;
            right: 0;
            transform: translate(0,-50%);
        }
    }
}

.vehicle-navigation__tour-chip--filter {
    top: 154px;
    left: 127px;

    button {
        padding: 20px 0 0 0;

        &::before {
            top: 0;
            left: 30%;
            transform: translate(0,-50%);
        }
    }
}

.vehicle-navigation__tour-chip--start {
    top: 105px;
    left: -205px;

    button {
        padding: 0 28px 0;

        &::before {
            top: 0;
            bottom: 0;
            left: 100%;
            transform: translate(-50%,0);
        }
    }
}

.vehicle-navigation__tour-chip--airconditioner {
    top: 140px;
    left: -125px;

    button {
        padding: 0 35px 0 0;

        &::before {
            top: 50%;
            left: auto;
            right: 0;
            transform: translate(0,-50%);
        }
    }
}

.vehicle-navigation__tour-chip--visibility {
    top: 20px;
    left: 25px;

    button {
        padding: 0 40px 0;

        &::before {
            top: 0;
            bottom: 0;
            left: 100%;
            transform: translate(-50%,0);
        }
    }
}

.vehicle-navigation__tour-chip--spareparts {
    top: -25px;
    left: 280px;

    button {
        padding: 0 30px 52px 0;

        &::before {
            top: 50%;
            bottom: 0;
            left: 30%;
        }
    }
}


// Link
// --------------------------------------------------------------------------

.vehicle-navigation__link {
    @media (min-width: $screen-md-min) {
        display: none;
    }
}
