//
// Widget newsletter
// --------------------------------------------------------------------------

.widget-newsletter {

}

.widget-newsletter__title {
    display: block;
    font-size: $font-size-large;
    font-weight: bold;
    letter-spacing: $headings-letter-spacing;
    line-height: $headings-line-height;
    margin: 0 0 10px;
}

.widget-newsletter__form {
    .form-group {
        margin: 0 0 8px;
    }

    .form-control {
        height: 32px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .btn {
        width: 100%;
    }
}
